* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

html {
    scroll-behavior: smooth;

}

::-webkit-scrollbar {
    width: 5px;

}


::-webkit-scrollbar-track {
    background-color: #09090a;

}


::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 5px;
}


header {
    height: 100vh;
    max-height: 800px;
    min-height: 650px;
    background-color: rgba(0, 0, 0, 0.516);
    position: relative;


}



.header__background {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.header__menu {
    position: fixed;
    display: flex;
    width: 100%;
    height: 90px;
    top: 0;

    align-items: center;
    justify-content: space-between;
    padding: 20px;
    transition: all .3s ease;
    z-index: 99;




}

.header__separator {

    display: none;
}

.header__menu.fixed {

    background-color: rgba(0, 0, 0, 0.758);
    ;
}

.header__buttoncontainer {


    position: relative;
    pointer-events: none;



}

.header__hamburger {


    background: none;
    border: none;
    position: relative;
    font-size: 30px;
    color: white;
    cursor: pointer;
    transition: transform .5s ease;

}



.header__hamburger.active {
    transform: rotate(360deg);
}




.header__logoimagen {
    width: 50px;
    height: 50px;
}

.header__name {
    display: none;
}

.header__navbar {

    position: absolute;
    background-color: rgba(0, 0, 0, 0.758);
    bottom: -270%;
    width: 100%;

    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom: 2px solid rgba(85, 85, 85, 0.621);
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: translateY(-500%);
    transition: all .6s ease;

}

.header__navbar.active {

    opacity: 1;
    display: flex;
    transform: translateY(0%);
}

.header__userimg {

    display: none;
}


.header__menitem {
    font-size: 20px;
    padding: 20px;

    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #ff2950;
    font-weight: 500;

}



.header__menitem:hover {

    background-color: rgba(76, 76, 76, 0.553);
}

.header__info {


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    text-align: center;





}


.header__info h1 {
    color: aliceblue;
    font-size: 40px;
    margin-bottom: 20px;
}

.header__info h2 {

    font-size: 20px;
    color: rgba(240, 248, 255, 0.57);
    margin-bottom: 30px;

}

.header__button {

    border: none;
    background: none;
    color: aliceblue;
    background-color: #ff2950;
    border-radius: 30px;
    width: 150px;
    padding: 15px 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.header__button--special {
    background: none;
    border: 3px solid #ff2950;
}

.header__arrow {
    position: absolute;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;

    bottom: 5%;
    left: 50%;
    width: 50px;
    height: 50px;

    cursor: pointer;
    transform: translateX(-50%);
    animation: bounceArrow .7s ease infinite;
    

}

.header__arrowimg {

    width: 40px;
}

@keyframes bounceArrow {

    0% {
        bottom: 5%;
    }

    50% {
        bottom: 4%;
    }

    100% {
        bottom: 5%;
    }
}

/* -------------------------------OFERTAS------------------------------ */

.offers {



    background-color: rgba(0, 0, 0, 0.666);
    position: relative;
    padding-top: 130px;
    position: relative;
    overflow: hidden;

}

.offers__background {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}


.offers__title {

    margin: 0;
    margin-bottom: 60px;
    font-size: 55px;
    text-align: center;
    color: rgb(255, 255, 255);

}

.offers__container {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;



}

.offers__boxes {


    height: 300px;
    width: 80%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    max-width: 400px;
    padding: 20px;
    position: relative;
    margin-bottom: 50px;
    border: 2px solid var(--primary);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);



}

.offers__info {
    display: flex;
    flex-direction: column;
}

.offers__text {
   display: none;
}


.offers__discount {

    color: var(--secondary);
    font-size: 30px;
    font-weight: 600;

    margin-bottom: 10px;
}

.offers__porcent {

    color: rgb(153, 255, 0);
    font-weight: 400;
    font-size: 20px;

}

.offers__name {

    color: var(--secondary);
    font-size: 35px;
    z-index: 1;
    margin-bottom: 20px;
}

.offers__buttons {
    display: flex;
    flex-direction: column;
}

.offers__button {

    border: none;
    background: none;
    margin-bottom: 10px;
    color: var(--secondary);
    border-radius: 10px;
    background-color: rgb(39, 165, 255);
    padding: 5px 10px;
    cursor: pointer;
    z-index: 1;
    transition: all .3s ease;
}



.offers__img {

    position: absolute;
}



.offers__img--headset {



    width: 350px;
    height: 230px;
    bottom: -20%;
    right: -40%;

}



.offers__img--chasis {


    width: 250px;
    height: 250px;
    right: -25%;
    bottom: -20%;

}



.offers__img--graphic {

    width: 260px;
    height: 130px;
    bottom: -10%;
    right: -16%;

}

.offers__name--graphic {

    font-size: 35px;
}



.offers__img--keyboard {

    width: 260px;
    height: 260px;
    bottom: -20%;
    right: -20%
}

.offers__control {


    display: none;
}

@media screen and (min-width: 400px) {


    .offers__boxes {
        padding: 30px;
    }

    .offers__discount {

        color: var(--secondary);
        font-size: 50px;

    }

    .offers__porcent {


        font-size: 30px;
    }

    .offers__name {

        color: var(--secondary);
        font-size: 45px;

        z-index: 1;
        margin-bottom: 30px;

    }

    .offers__button {

        border: none;
        background: none;
        margin-bottom: 20px;
        color: var(--secondary);
        border-radius: 10px;
        background-color: rgb(0, 149, 255);
        padding: 5px 10px;
        cursor: pointer;
        font-size: 20px;
        z-index: 1;
        transition: background-color .3s ease;
    }

    .offers__img--headset {



        width: 400px;
        height: 260px;
        bottom: -20%;
        right: -40%;

    }

    .offers__img--chasis {



        width: 350px;
        height: 350px;
        bottom: -30%;

    }

    .offers__img--graphic {

        width: 320px;
        height: 200px;
        bottom: -20%;
        right: -20%;

    }

    .offers__name--graphic {

        font-size: 30px;
    }



    .offers__img--keyboard {

        width: 320px;
        height: 320px;
        bottom: -30%;
        right: -20%
    }

}

/* ------------------------------------------------------------------------- */

/* .shop{
   
    height: 100vh;
    max-height: 800px;
    min-height: 650px;
    background-color: rgb(255, 49, 77);
} */



@media screen and (min-width: 769px) {



    .header__hamburger {


        display: none;

    }

    .header__separator {

        display: block;
        width: 2px;
        height: 50px;
        background-color: #ff295065;
    }

    .header__logo {

        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-left: 3%;
        height: 70px;
        width: 200px;
    }

    .header__name {
        display: block;
        color: aliceblue;
        text-decoration: none;
        font-weight: 500;
    }

    .header__navbar {

        position: relative;
        background-color: rgba(255, 255, 255, 0);
        bottom: 0%;
        width: 400px;

        border: none;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 00px;
        left: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        opacity: 1;
        transform: translateY(0%);
        transition: all .6s ease;
        margin-right: 5%;
        /* border: 2px solid red;  */


    }

    .header__userimg {
        display: block;
    }

    .header__menitem:hover {

        background: none;
    }


    .header__menitem {
        font-size: 15px;
        padding: 0px;

        width: 70px;
        text-align: center;
        text-decoration: none;
        color: aliceblue;
        font-weight: 300;
        transition: all .3s ease;


    }




    .header__menitem:hover {

        color: rgba(151, 151, 151, 0.641);


    }



    .header__menitem--iniciars {

        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 150px;


    }

    .header__menitem--inicio {

        width: 50px;
    }

    .header__menitem--tienda {

        width: 60px;
    }

    .header__menitem--contacto {

        width: 80px;
    }


    /* ----------------------------OFERTAS--------------------------- */

    .offers {

        height: 110vh;
        max-height: 800px;
        min-height: 650px;
        
    }

    .offers__container {

        width: 400%;
        display: flex;
         margin-left: -100%; 
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        





    }

    .offers__boxes {


        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 600px;
        padding: 60px;
        position: relative;
        
        
    }

    .offers__discount{
        position: absolute;
        top: -5%;
        right: -10%;
        background-color: var(--primary);
        padding: 5px 10px;
        border-radius: 30px;
        
    }

    .offers__info {
        flex-direction: row-reverse;
        justify-content: space-between;
        
        
    }

    .offers__discount{
        font-weight: 300;
        font-size: 30px;
    }

    .offers__porcent{
        font-size: 15px;
        font-weight: 500;
    }

    .offers__text {
        display: block;
        color: var(--secondary);
        width: 400px;
        text-align: center;
        margin-bottom: 40px;
    }

    .offers__buttons {
        flex-direction: row;
        justify-content: space-between;
        
        width: 280px;
    }

  

    .offers__button{
        padding: 10px 20px;
        border-radius: 20px;
        margin: 0;
    }

    .offers__button--special{
        border: 2px solid rgb(0, 149, 255);
        background: none;
    }

    .offers__img--headset {



        width: 450px;
        height: 300px;
        bottom: -20%;
        right: -30%;

    }

    .offers__img--chasis {



        width: 350px;
        height: 350px;
        bottom: -25%;
        

    }

    .offers__img--graphic {

        width: 320px;
        height: 200px;
        bottom: -10%;
        right: -20%;

    }



    .offers__img--keyboard {

        width: 350px;
        height: 350px;
        bottom: -30%;
        right: -20%
    }


    .offers__control {


        display: block;
        display: flex;
        justify-content: space-between;
        width: 300px;
        margin: 0 auto;
        
        
    }

    .offers__circles{
        width: 60px;
        height: 8px;
        z-index: 99;
        cursor: pointer;
        border-radius: 30px;
        background-color: rgba(135, 135, 135, 0.734);
        transition: all .3s ease;
    }

    

   



   


}

@media only screen and (max-width: 768px) and (orientation: landscape) {

    .header__navbar {

        position: absolute;
        background-color: rgba(0, 0, 0, 0.758);
        bottom: -160%;
        width: 100%;

        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom: 2px solid rgba(85, 85, 85, 0.621);
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transform: translateY(-500%);
        transition: all .6s ease;

    }


    .header__menitem {
        font-size: 15px;
        padding: 10px;

        width: 100%;
        text-align: center;
        text-decoration: none;
        color: #ff2950;
        font-weight: 500;

    }
}